#top-header {
    height: 15vh;
    width: 100%;
    background-color: rgb(77, 77, 77);
    position: fixed;
    z-index: 4;
}

#section-one {
    background-color: rgb(189, 189, 189);
    position: fixed;
    height: 1000px;
    width: 200px;
    z-index: 2;
}

#section-two {
    background-color: rgb(189, 189, 189);
    position: fixed;
    left: 1250px;
    height: 1000px;
    width: 200px;
    z-index: 3;
}

#footer {
    background-color: black;
    position: relative;
    height: 150px;
    width: 1400px;
    top: 1200px;
}